### Default project gitignore

## IDE Projectfiles
/.idea/
/.vscode/

## Dynamic
/.var/

/temp/
/tmp/
/dist/
/build/
/**.cache
/bin/**/*.txt

## Library
vendor
/node_modules/
/tools/*
!/tools/.phpactor.schema.json

## Env
/.env
/auth.json
/.pm.toml

## Other
/*.DS_Store
/.DS_Store
/*.sql
/TODO.md
